@import "tailwindcss";

@layer base {
  body {
    background-color: #0d0d0d;
    color: #f3f4f6;
    font-family: 'Figtree', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
  }
}
